@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IntegralCF";
    src: url("/fonts/integral-cf/IntegralCF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }